<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
    <div class="container">
       <h1><a class="navbar-brand" href="/">Rick & Morty</a></h1> 
        <h5 class="text-end p-4 text-light"><a  class="text-decoration-none text-light" href="/favorites/">Favorites: <%=favouriteCount%></a></h5>
    </div>
</nav>